.main {
  @border-radius: 20rpx;
  background-color: #ffffff;
  margin-top: 20rpx;

  .main-title {
    box-sizing: border-box;
    padding-left: 30rpx;
    font-size: 26rpx;
    height: 80rpx;
    line-height: 80rpx;
    border-bottom: none;
    font-weight: 500;
    position: relative;

    .main-title-hbbton {
      height: 40rpx; width: 40rpx;
      margin-top: 20rpx;
      line-height: 40rpx; text-align: center;
      border-radius: 20rpx;
      border: .1rpx solid #cccccc;
      position: absolute;
      right: 50rpx;
    }

  }
}